html{
    background: #ffd895;
    width: 100%;
    padding: 0 5px 5px 5px ;
}


#baniere_img{
    position: relative;
    margin-top: 15px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
    background: url('../img/baniere.jpeg') no-repeat;
    background-size: 1450px 300px;
}
#baniere_slogan{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top:15px;
    padding-left: 350px;
    background-color: rgba(24, 24, 24, 0.8);
    color: white; 
    font-size: 1.5em;
    font-weight: 500;
}


nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav li{
    margin-right: 15px;
}
nav a{
    font-size: 1.3em;
    font-weight: 600;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover{
    color: #B40431;
    border-bottom: 3px solid #0B2161;
}


h2{
    color: #B40431;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}
.box{
    border: 3px solid #0B2161;
    width: 21%;
}


td.c1{
    background-color: violet;
    text-align: center;
    font-weight: 700;
}
td.c2{
    background-color: red;
    text-align: center;
    font-weight: 700;
}
td.c3{
    background-color: green;
    text-align: center;
    font-weight: 700;
}
td.c4{
    background-color: rgb(0, 255, 238);
    text-align: center;
    font-weight: 700;
}
td.c5{
    background-color: rgb(233, 241, 0);
    text-align: center;
    font-weight: 700;
}
td.c6{
    background-color: grey;
    text-align: center;
    font-weight: 700;
}

table {
    width:100%;
    border-collapse: collapse;
}
thead th:nth-child(1) {
    width: 5%;
}
thead th:nth-child(2) {
    width: 5%;
}  
thead th:nth-child(3) {
    width: 5%;
}  
thead th:nth-child(4) {
    width: 5%;
}
thead th:nth-child(5) {
    width: 5%;
}
thead th:nth-child(6) {
    width: 5%;
}
thead th:nth-child(7) {
    width: 5%;
}
thead th:nth-child(8) {
    width: 5%;
}
  
  
  
     
th, td {
    padding: 20px;
    font-weight: 700;
}

tfoot, thead{
    text-align: center;
    font-weight: 700;
}

#lien_reseau {
    width : 30px;
}

footer {
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size : 20px;
    font-family: "RubikPuddles-Regular", sans-serif;
}

.footer-column {
    width: 50%;
}